extends ../main

block variables
    - var title = 'Главная'

block content
    main.index
        //- banner
        section.index__banner
            .banner
                .container
                    h2.banner__title ИМПЛАНТАЦИЯ «ПОД КЛЮЧ»
                    .banner__small ОТ ЛУЧШЕЙ СТОМАТОЛОГИИ РФ С ПОЖИЗНЕННОЙ ГАРАНТИЕЙ

                    .banner__sub
                        .banner__sub-big
                            .banner__sub-perc 100%
                            .banner__sub-pos гарантия приживаемости
                        .banner__sub-txt
                            | Добились 100% приживаемости
                            br
                            | импланта в нашей клинике

                    .banner__list
                        each i,x in bannerList
                            .banner__item.bitem
                                .bitem__left
                                    .bitem__img
                                        +image('images/content/banner/' + (x + 1) + '.png')
                                .bitem__right
                                    .bitem__name!= i
                                    .bitem__txt Главный врач клиники ИМПЕРИЯ. Хирург-имплантолог...
                                    .bitem__desc
                                        .bitem__item 22 года стажа
                                        .bitem__item 14 консультаций
                                        .bitem__item 200 работ
                    .banner__subtitle Запишитесь на бесплатный осмотр и получите:
                    ul.banner__ul
                        each i in ['1. Подбор импланта и метода имплантации, который подойдет вам на 100%','2. Полное обследование и план лечения в 3-х вариантах',]
                            li= i
                    button(type='button').btn.banner__btn.jsCall Записаться на осмотр
        //- att&how
        section.index__second
            .container
                .index__att
                    .att
                        .att__left
                            h2.att__title Будьте внимательны и не ведитесь на рекламу имплантации за 10 990 или даже 7 000 Р
                            .att__content
                                p Многие клиники пытаются привлечь посетителей низкой ценой и указывают только стоимость импланта, не учитывая работу врача, расходные материалы, а также стоимость коронки.
                                p Мы против таких манипуляций и хитрых уловок!
                            .att__sub Цена на нашем сайте всегда совпадает с ценой в клинике!
                        .att__right
                            .att__img
                                +image('images/content/att/img.png')
                .index__how
                    .how
                        .how__container
                            .how__sub Давайте разберёмся, как формируется цена
                            h2.how__title
                                | Имплантация «под ключ» состоит из 2-х этапов
                                br
                                | и включает в себя 6 обязательных элементов

                            .how__row
                                each col in howCols
                                    .how__col
                                        .hcol
                                            .hcol__title= col.title
                                            .hcol__sub= col.txt
                                            .hcol__list
                                                each i in col.list
                                                    .hcol__item.hcitem
                                                        .hcitem__img
                                                            +image(i.img)
                                                        .hcitem__title= i.title
                                                        button(type='button' title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque cum dolor esse in officiis pariatur placeat repellat sapiente sit.').hcitem__btn.jsTippy ?
                                            .hcol__total
                                                .hctotal
                                                    .hctotal__title Итого
                                                    .hctotal__prices
                                                        if col.total.old
                                                            span.hctotal__oldprice= col.total.old
                                                        span.hctotal__price= col.total.new
                                                    .hctotal__sub за имплант с установкой
                            .how__decor
                                .hdecor
                                    .hdecor__blocks
                                        .hdecor__block.hdecor__block_left
                                        .hdecor__block.hdecor__block_right


                            .how__total
                                .htotal
                                    .htotal__bg
                                        <svg width="225" height="196" viewBox="0 0 225 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.15" d="M94.9219 70.9917C84.4815 81.4307 71.3778 86.6501 55.6108 86.6501C39.8438 86.6501 26.6335 81.4307 15.9801 70.9917C5.3267 60.3398 0 47.4509 0 32.3251C0 17.1993 5.3267 4.4169 15.9801 -6.02204C26.6335 -16.674 39.8438 -22 55.6108 -22C71.3778 -22 84.4815 -16.7805 94.9219 -6.34159C105.575 3.8843 110.902 16.7732 110.902 32.3251C110.902 47.4509 105.575 60.3398 94.9219 70.9917ZM26.527 171.014L170.987 11.2342L192.081 23.3774L47.6207 183.477L26.527 171.014ZM43.1463 44.7879C46.3423 48.1965 50.3906 49.9008 55.2912 49.9008C60.1918 49.9008 64.2401 48.1965 67.4361 44.7879C70.8452 41.1662 72.5497 37.0119 72.5497 32.3251C72.5497 27.2121 70.9517 23.0579 67.7557 19.8623C64.5597 16.4536 60.4048 14.7493 55.2912 14.7493C50.3906 14.7493 46.3423 16.4536 43.1463 19.8623C39.9503 23.2709 38.3523 27.4252 38.3523 32.3251C38.3523 37.225 39.9503 41.3793 43.1463 44.7879ZM209.02 194.342C198.58 204.781 185.476 210 169.709 210C153.942 210 140.732 204.781 130.078 194.342C119.425 183.69 114.098 170.801 114.098 155.675C114.098 140.549 119.425 127.767 130.078 117.328C140.732 106.676 153.942 101.35 169.709 101.35C185.476 101.35 198.58 106.676 209.02 117.328C219.673 127.767 225 140.549 225 155.675C225 170.801 219.673 183.69 209.02 194.342ZM157.244 168.138C160.44 171.546 164.489 173.251 169.389 173.251C174.29 173.251 178.338 171.546 181.534 168.138C184.943 164.516 186.648 160.362 186.648 155.675C186.648 150.562 185.05 146.408 181.854 143.212C178.658 139.803 174.503 138.099 169.389 138.099C164.489 138.099 160.44 139.803 157.244 143.212C154.048 146.621 152.45 150.775 152.45 155.675C152.45 160.575 154.048 164.729 157.244 168.138Z" fill="white"/>
                                        </svg>
                                    .htotal__grid
                                        .htotal__left
                                            .htotal__img
                                                +image('images/content/how/total.png')
                                            .htotal__desc
                                                .htotal__txt Итого за готовый зуб:
                                                .htotal__prices
                                                    span.htotal__price 39 т.р.&nbsp;
                                                    span.htotal__oldprice 60,8 т.р.
                                        .htotal__right
                                            .htotal__action Акция до 16 ноября
                                            button(type='button').htotal__btn.jsCall.btn Забронировать цену
        //- steps
        section.index__steps
            .steps
                .container
                    h2.steps__title Цена зависит от вида имплантации
                    .steps__sub Мы подберем вид имплантации, который подойдет вам 100%
                    .steps__tabs.jsTabs
                        .steps__sws
                            button(type='button').steps__sw.active.jsSw Одномоментная
                            button(type='button').steps__sw.jsSw Классическая
                            button(type='button').steps__sw.jsSw Имплантация All on 4/6
                        .steps__tabs
                            .steps__stab.stab.active.jsTab
                                h3.stab__title Одномоментная имплантация
                                .stab__rows
                                    .stab__row.strow
                                        h4.strow__title Когда проводится:
                                        .strow__grid
                                            .stitem
                                                .stitem__img
                                                    +image('images/content/steps/img.jpg')
                                                .sitem__txt Сразу после удаления зуба
                                            .stitem
                                                .stitem__img
                                                    +image('images/content/steps/img.jpg')
                                                .sitem__txt Когда не нужно наращивать костную ткань
                                            .stitem
                                                .stitem__img-big
                                                    +image('images/content/steps/img-big.jpg')

                                    .stab__row.strow
                                        h4.strow__title Преимущества метода:
                                        ol.strow__ol
                                            each i in ['Установка импланта и коронки за 1 прием','Быстрое восстановление и заживание','Быстрое восстановление и заживание',]
                                                li.strow__li= i
                                .stab__price
                                    .stprice
                                        h3.stprice__title Стоимость:
                                        .stprice__grid
                                            .stprice__item.stprice__item_block
                                                p.
                                                    Средняя по Москве: от 25.500
                                                    <br>
                                                    <b>до 260.000 рублей</b> (иногда до 300.000)
                                                p В “MN-dental”: от 34 т.р. 17т.р.
                                            .stprice__item
                                                .stpprice__svg
                                                    <svg width="102" height="32" viewBox="0 0 102 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.871948 6.06521C21.9452 -0.598296 71.4478 -4.95989 100.872 30.9018" stroke="#3D8472" stroke-width="2"/>
                                                    </svg>
                                                button(type='button').jsCall.stprice__btn Закрепить стоимость по акции

                            .steps__stab.stab.jsTab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore iste laborum minima minus sint sit suscipit temporibus voluptas! Ab architecto atque consequatur dolor nihil quam, sunt veniam. Asperiores dignissimos, est nihil numquam pariatur quibusdam sed totam. A adipisci architecto, culpa dolor et, expedita in ipsa magni necessitatibus rerum tenetur vero!
                            .steps__stab.stab.jsTab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis debitis, explicabo laborum odio provident recusandae! Ea eius esse fugit illo iusto modi nam optio perspiciatis sed ut! Consequatur, deserunt et! Architecto at consequuntur id, incidunt nesciunt saepe veniam! Alias.
        //- what
        section.index__what
            .what
                .container
                    .what__grid
                        .what__left
                            h2.what__title Что вас ждёт на бесплатном осмотре у имплантолога:
                            ul.what__ul
                                each i in ['Подбор импланта, который подойдёт вам на 100%','Полное обследование и 3 варианта лечения от ведущих врачей-имплантологов России']
                                    li.what__li.li= i
                            .what__tel
                                | Звоните круглосуточно&nbsp;
                                a(href='tel:+7(495)186-22-41') +7 (495) 186-22-41
                                br
                                | или оставьте заявку, мы вам перезвоним
                            form.what__form
                                .what__accept
                                    label.accept
                                        input(type='checkbox' name='accept' checked).accept__input
                                        span.accept__fake
                                            span.accept__checkbox
                                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.11188 4.01801L4.07938 6.98426L10.0119 1.05176" stroke="#E79089" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            span.accept__txt.what__accept-txt Нажимая кнопку "Записаться на просмотр", даю согласие на обработку моих персональных данных



                                .what__fields
                                    .what__field
                                        input(type='tel' name='tel' placeholder='Номер телефона').what__input
                                    .what__field
                                        button(type='submit').what__submit.btn ЗАПИСАТЬСЯ НА ПРОСМОТР
                        .what__right
                            a(href='https://www.youtube.com/watch?v=_sI_Ps7JSEk' data-fancybox).what__yt
                                +image('https://img.youtube.com/vi/_sI_Ps7JSEk/hqdefault.jpg')
                                span.what__btn
                                    <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 11.5L0.250001 22.3253L0.250002 0.674682L19 11.5Z" fill="white"/>
                                    </svg>
        //- booking
        section.index__booking
            .container
                .booking
                    .booking__grid
                        .booking__col
                            h3.booking__title Имплантация «под ключ» без скрытых платежей
                            .booking__txt
                                | Успейте сейчас! Только до 23 ноября 60,8 т.р.&nbsp;
                                b 39 т.р.
                        .booking__col
                            button(type='button').jsCall.booking__btn ЗАБРОНИРОВАТЬ
        //- price
        section.index__price
            .price
                .container
                    h2.price__title Стоимость имплантации «под ключ»
                    .price__sub
                        | Мы ставим импланты любых производителей по вашему желанию.
                        br
                        b Но предпочитаем 7 самых надёжных имплантов.
                    .price__company
                        .pcomp
                            each i,x in priceList
                                button(type='button' data-id = x).pcomp__item= i
                    .price__slider
                        .price__container.swiper-container
                            .swiper-wrapper
                                each i,x in priceList
                                    div(data-id=x).swiper-slide.pslide
                                        .pslide__action
                                            | Акция до
                                            br
                                            | 18.11.2020
                                        .pslide__logo
                                            +image('images/content/price/flag.png')
                                            .pslide__comp= i
                                        .pslide__list
                                            .pslide__item.psitem
                                                .psitem__title
                                                    | Имлант Mis
                                                    br
                                                    | с установкой
                                                .psitem__prices
                                                    .psitem__old 25 т.р.
                                                    .psitem__new 25 т.р.
                                            .pslide__item.psitem
                                                .psitem__title
                                                    | Формирователь десны
                                                .psitem__prices
                                                    .psitem__new 25 т.р.
                                            .pslide__item.psitem
                                                .psitem__title
                                                    | Индивидуальный абатмент
                                                .psitem__prices
                                                    .psitem__new 25 т.р.
                                            .pslide__item.psitem
                                                .psitem__title
                                                    | Металлакерамическая
                                                    | коронка с установкой
                                                .psitem__prices
                                                    .psitem__new 25 т.р.
                                            .pslide__item.psitem
                                                .psitem__title
                                                    | Гарантия на работу врача
                                                .psitem__txt 15 лет
                                            .pslide__item.psitem
                                                .psitem__title
                                                    | Гарантия на имплант
                                                .psitem__txt 100 лет
                                            .pslide__item.psitem
                                                .psitem__title
                                                    | Время приживления
                                                .psitem__txt.psitem__txt_red обычное



                                        .pslide__bottom
                                            .pslide__sub Итого за готовый зуб:
                                            .pslide__prices
                                                span.pslide__old 58 т.р.&nbsp;
                                                span.pslide__new 58 т.р.

                        .price__nav
                            button(type='button').price__btn.price__prev
                                <svg width="50" height="100" viewBox="0 0 50 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-2.01864e-05 50C-2.50146e-05 77.6143 22.3857 100 50 100L50 8.74228e-06C22.3858 3.91405e-06 -1.53581e-05 22.3858 -2.01864e-05 50Z" fill="#E79089"/>
                                <path d="M32.9787 38.2979L22.3404 49.4681L32.9787 60.6383" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            button(type='button').price__btn.price__next
                                <svg width="50" height="100" viewBox="0 0 50 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M50 50C50 22.3858 27.6142 -5.67237e-06 -1.2557e-05 -3.25826e-06L-3.8147e-06 100C27.6142 100 50 77.6142 50 50Z" fill="#E79089"/>
                                <path d="M17 62L28 50.5L17 39" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>


